.main-header {
  background: url(../img/mountain.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}

.main-header .showcase {
  padding-top: 100px;
}

.active-link {
  color: #e0f147;
  font-weight: bold;
}
